.header {
  @include center-flex;
  flex-direction: column;
  justify-content: space-between;

  height: 95vh;
  position: relative;

  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    #764ba2
  );
  background-size: cover;
  background-position: top;

  @include respond(tablet) {
    padding: 0rem;
  }

  &__logo-box {
    margin-top: 2rem;
    margin-bottom: auto;
    align-self: center;

    @include respond(tablet) {
      align-self: center;
    }
  }
  &__logo {
    height: 15rem;
    aspect-ratio: 1/1;
    object-fit: contain;

    transition: transform 3s ease-in-out;
    @include respond(tablet) {
      height: 25rem;
    }

    &:hover {
      animation: scratchRotate 1.5s forwards;
    }
  }
  &__text-box {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h1 {
      margin: 2rem 0rem;
    }
    .btn {
      margin: 2rem 0;
    }
  }
}
