@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes scratchRotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(50deg) scale(1.05);
  }
  20% {
    transform: rotate(90deg) scale(0.95);
  }
  30% {
    transform: rotate(180deg) scale(1.05);
  }
  40% {
    transform: rotate(90deg) scale(0.95);
  }
  50% {
    transform: rotate(180deg) scale(1.05);
  }
  60% {
    transform: rotate(90deg) scale(1);
  }
  70% {
    transform: rotate(45deg) scale(1.05);
  }
  80% {
    transform: rotate(90deg) scale(0.95);
  }
  90% {
    transform: rotate(45deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
