*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  @media (min-width: 350px) {
    font-size: 1.4rem;
  }
  @media (min-width: 766px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1440px) {
    font-size: 2.5rem;
  }
  scroll-behavior: smooth;
}
