@mixin center-flex {
  display: flex;
  align-items: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint ==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
}

@mixin heading-font() {
  font-weight: 700;
  color: $color-primary-light;
  text-transform: uppercase;
}

@mixin paragraph-style() {
  color: $color-text-paragraph;
  line-height: 1.8;
}
