$color-primary: #667eea;
$color-primary-light: #667eea;
$color-primary-meduim: #506be7;
$color-primary-dark: #764ba2;

$color-text-paragraph: #444;
$color-text-dark: #2e3a59;

$color-secondary: #317a8e;

$color-white: #fff;
$color-black: #000;

$heading-font: "Raleway", sans-serif;

$text-font: "Playfair Display", serif;
