$color-primary: #667eea;
$color-primary-light: #667eea;
$color-primary-dark: #764ba2;

$color-white: #fff;
$color-black: #000;

//Pastel or Muted Tones
$color-lavender: #d1c4e9;
$color-powder-blue: #b0c7e5;

//Neutral Shades
$color-off-white: #fafafa;
$color-soft-gray: #d3d3d3;
$color-charcoal: #333333;

//Accent colors
$color-dusty-pink: #ffb6c1;
$color-mint-green: #a8d5ba;

//earth Tones:
$color-mauve: #b0868e;
$color-teal: #006466;
//Metallics

$color-gold: #ffd700;
$color-rose-gold: #b76e79;

$breakpoibt-small: 768px;
